services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - memcached

  memcached:
    image: memcached:latest
    ports:
      - "11211:11211"
